body {
    margin: 0 0 0 0;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.image-logo {
    margin: 0%;
    left: 2%;
    top: 2%;
    position: absolute;
}

.image-logo-icon {
    width: 134px;
    height: 70px;
}

.image-cov {
    margin: 0 0 0 71.6%;
    position: fixed;
}

.image-cov-icon {
    height: 100%;
}

.image-split {
    margin: 0 0 0 73%;
    position: fixed;
}

.image-split-icon {
    height: 100%;
}

.container-2 {
    margin-top: 20%;
    margin-left: 13%;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 806px;
    height: 500px;
}

.selamat-datang {
    text-align: center;
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
}

.username,
.email,
.password {
    font-size: 14px;
    color: #000000;
    text-align: left;
    background-color: #ECECEC;
    border-radius: 15px;
}

.masukan-username,
.masukan-email,
.masukan-password {
    width: 97%;
    color: #666;
    background-color: #ECECEC;
    padding-left: 20px;
    padding-bottom: 15px;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    text-align: left;
    outline: none; 
}
.masukan-email:focus {
    border: none;
}
h2 {
    padding: 10px 0 0 20px;
    color: #909090;
    font-size: 16px;
}
.submit {
    width: 100%;
    color: #666;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #666;
}

#submit {
    justify-content: center;
    text-align: center;
    padding: 15px;
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit:hover {
    background-color: #004494;
}

.alt-signup {
    text-align: center;
    margin-top: 20px;
}


.frame-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 10px;
}

.image img {
    width: 32px;
    height: 32px;
}